@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.button-container {
	margin-top: 2rem;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(4, 1fr);
}

.grid-span-2 {
	grid-column: span 2;
}

.btn {
	border: none;
	border-radius: 10px;
	font-family: 'Share Tech Mono', monospace;
	font-weight: bold;
	font-size: 2rem;
	padding: 1.5rem 0;
}

.btn:hover,
.btn:active {
	opacity: 0.8;
}

.num {
	background-color: rgb(154, 154, 154);
}

.operator {
	background-color: rgb(219, 165, 29);
}

.ac {
	background-color: rgb(241, 46, 46);
}
