*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.App {
	min-width: 95%;
	border: 1px solid black;
	border-radius: 10px;
	padding: 2.5rem 1rem;
}
